page-news-detail {
  img {
    max-width: 100%;
    max-height: 100%;
  }
  .primary.jsx-3805870808 {
    padding: 0 12px;
    position: relative;
  }
  .primary.jsx-3805870808 .title.jsx-3805870808 {
    font-size: 20px;
    padding: 15px 0 16px;
    font-family: PingFangSC-Semibold;
    color: #3f4146;
    -webkit-letter-spacing: 0;
    -moz-letter-spacing: 0;
    -ms-letter-spacing: 0;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 400;
  }
}
