// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
<<<<<<< HEAD
@import "../../node_modules/ol/ol";
@import "../photoswipe/dist/photoswipe";
@import "../photoswipe/dist/default-skin/default-skin";



// #olmap{
//   width: 100%;
//   height: 100%;

// }

.btn{
  position: absolute;
  top:150px;
}

.font-16{
  font-size: 16px;
}

//.ion-ios-news{
//  background-repeat: no-repeat;
//  background-position: 50%;
//  background-image: url("/assets/svg/news-selected.svg");
//  background-size: contain;
//  //content:url("/assets/svg/news-selected.svg");
//}
//[aria-selected=false] .ion-md-news{
//  background-repeat: no-repeat;
//  background-position: 50%;
//  background-image: url("/assets/svg/news-selected.svg");
//  background-size: contain;
//}
//.ion-ios-news-outline{
//  background-repeat: no-repeat;
//  background-position: 50%;
//  background-image: url("/assets/svg/news-normal.svg");
//  background-size: contain;
//}


=======
>>>>>>> b239435... Initial commit
