page-housedetail {
  .card-ios{
    margin: -20px 0 0 0;
    width: 100%;
  }
  ion-card {
    position: relative;
  }

  ion-row{
    align-items: center;
  }
  .card-title {
    position: absolute;
    bottom: 20px;
    left:10px;
    font-size: 2.0em;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    bottom: 5px;
    left:10px;
    color: #fff;
  }

  .card-badge{
    font-size: 0.8em;
    position: absolute;
    bottom: 10px;
    right:10px;
  }

  .content{
    font-size: 0.9em;
    padding-left: 10px;
    color: #3d3d3d;
  }
}
