page-hello-ionic {

<<<<<<< HEAD
  .ol-attribution{
    display: none;
  }

  .ol-zoom{
    bottom: .5em;
    right: .5em;
    top: initial;
    left: initial;
    font-size: 2em;
  }
  .ol-control button{
    background-color: #3d3d3d;
  }

=======
>>>>>>> b239435... Initial commit
}
